<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width = device-width, initial-scale=1">
        <title>HOME PAGE</title>
        <link href = "bootstrap-4.3.1-dist/css/bootstrap.min.css" rel = "stylesheet">
    </head>
    <body>
        <h1>SMASH SETS MELEE</h1>
        <p>Select a character to view tournament sets!</p>
        <button>DR. MARIO</button>
        <button>MARIO</button>
        <button>LUIGI</button>
        <button>BOWSER</button>
        <button>PEACH</button>
        <button>YOSHI</button>
        <button>DONKEY KONG</button>
        <button>CAPTAIN FALCON</button>
        <button>GANONDORF</button>
        <button>FOX</button>
        <button>FALCO</button>
        <button>NESS</button>
        <button>ICE CLIMBERS</button>
        <button>KIRBY</button>
        <button>SAMUS</button>
        <button>ZELDA</button>
        <button>SHEIK</button>
        <button>LINK</button>
        <button>YOUNG LINK</button>
        <button>PICHU</button>
        <button>PIKACHU</button>
        <button>JIGGLYPUFF</button>
        <button>MEWTWO</button>
        <button>MR. GAME & WATCH</button>
        <button>MARTH</button>
        <button>ROY</button>
    </body>
</html>