<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width = device-width, initial-scale=1">
        <title>HOME PAGE</title>
        <link href = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel = "stylesheet">
        <link href = "/public/css/web.css" rel = "stylesheet" type = "text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <a href="#"><img src="https://fontmeme.com/permalink/200829/bec5e86d3cf5999b503e05716cc38266.png" alt="super-smash-bros-font"></a>
        <p>Select a character to view tournament sets!</p>
        <ul class = "characterSelect" id = "characterSelect>">
            <a href = "#drMario" data-toggle = "collapse" data-parent = "#characterSelect"><li><img src = "/public/images/Portraits/drMario.png">DR. MARIO</li></a>
            <div id = "drMario" class = "collapse">Hello World</div>
            <a href = "#mario" data-toggle = "collapse" data-parent = "#characterSelect"><li><img src = "/public/images/Portraits/mario.png">MARIO</li></a>
            <div id = "mario" class = "collapse">Hello World</div>
            <a href = "#luigi" data-toggle = "collapse" data-parent = "#characterSelect"><li><img src = "/public/images/Portraits/luigi.png">LUIGI</li></a>
            <div id = "luigi" class = "collapse">Hello World</div>
            <a href = "#bowser" data-toggle = "collapse" data-parent = "#characterSelect"><li><img src = "/public/images/Portraits/bowser.png">BOWSER</li></a>
            <div id = "bowser" class = "collapse">Hello World</div>
            <a href = "#peach" data-toggle = "collapse" data-parent = "#characterSelect"><li><img src = "/public/images/Portraits/peach.png">PEACH</li></a>
            <div id = "peach" class = "collapse">Hello World</div>
            <a href = "#yoshi" data-toggle = "collapse" data-parent = "#characterSelect"><li><img src = "/public/images/Portraits/yoshi.png">YOSHI</li></a>
            <div id = "yoshi" class = "collapse">Hello World</div>
            <a href = "#dk" data-toggle = "collapse" data-parent = "#characterSelect"><li><img src = "/public/images/Portraits/dk.png">DONKEY KONG</li></a>
            <div id = "dk" class = "collapse">Hello World</div>
            <a href = "#falcon" data-toggle = "collapse" data-parent = "#characterSelect"><li><img src = "/public/images/Portraits/falcon.png">CAPTAIN FALCON</li></a>
            <div id = "falcon" class = "collapse">Hello World</div>
            <a href = "#ganon" data-toggle = "collapse" data-parent = "#characterSelect"><li><img src = "/public/images/Portraits/ganon.png">GANONDORF</li></a>
            <div id = "ganon" class = "collapse">Hello World</div>
            <a href = "#falco" data-toggle = "collapse" data-parent = "#characterSelect"><li><img src = "/public/images/Portraits/falco.png">FALCO</li></a>
            <div id = "falco" class = "collapse">Hello World</div>
            <a href = "#fox" data-toggle = "collapse" data-parent = "#characterSelect"><li><img src = "/public/images/Portraits/fox.png">FOX</li></a>
            <div id = "fox" class = "collapse">Hello World</div>
            <a href = "#ness" data-toggle = "collapse" data-parent = "#characterSelect"><li><img src = "/public/images/Portraits/ness.png">NESS</li></a>
            <div id = "ness" class = "collapse">Hello World</div>
            <a href = "#ics" data-toggle = "collapse" data-parent = "#characterSelect"><li><img src = "/public/images/Portraits/ics.png">ICE CLIMBERS</li></a>
            <div id = "ics" class = "collapse">Hello World</div>
            <a href = "#kirby" data-toggle = "collapse" data-parent = "#characterSelect"><li><img src = "/public/images/Portraits/kirby.png">KIRBY</li></a>
            <div id = "kirby" class = "collapse">Hello World</div>
            <a href = "#samus" data-toggle = "collapse" data-parent = "#characterSelect"><li><img src = "/public/images/Portraits/samus.png">SAMUS</li></a>
            <div id = "samus" class = "collapse">Hello World</div>
            <a href = "#zelda" data-toggle = "collapse" data-parent = "#characterSelect"><li><img src = "/public/images/Portraits/zelda.png">ZELDA</li></a>
            <div id = "zelda" class = "collapse">Hello World</div>
            <a href = "#sheik" data-toggle = "collapse" data-parent = "#characterSelect"><li><img src = "/public/images/Portraits/zelda.png">SHEIK</li></a>
            <div id = "sheik" class = "collapse">Hello World</div>
            <a href = "#link" data-toggle = "collapse" data-parent = "#characterSelect"><li><img src = "/public/images/Portraits/link.png">LINK</li></a>
            <div id = "link" class = "collapse">Hello World</div>
            <a href = "#ylink" data-toggle = "collapse" data-parent = "#characterSelect"><li><img src = "/public/images/Portraits/ylink.png">YOUNG LINK</li></a>
            <div id = "ylink" class = "collapse">Hello World</div>
            <a href = "#pichu" data-toggle = "collapse" data-parent = "#characterSelect"><li><img src = "/public/images/Portraits/pichu.png">PICHU</li></a>
            <div id = "pichu" class = "collapse">Hello World</div>
            <a href = "#pikachu" data-toggle = "collapse" data-parent = "#characterSelect"><li><img src = "/public/images/Portraits/pikachu.png">PIKACHU</li></a>
            <div id = "pikachu" class = "collapse">Hello World</div>
            <a href = "#puff" data-toggle = "collapse" data-parent = "#characterSelect"><li><img src = "/public/images/Portraits/puff.png">JIGGLYPUFF</li></a>
            <div id = "puff" class = "collapse">Hello World</div>
            <a href = "#mewtwo" data-toggle = "collapse" data-parent = "#characterSelect"><li><img src = "/public/images/Portraits/mewtwo.png">MEWTWO</li></a>
            <div id = "mewtwo" class = "collapse">Hello World</div>
            <a href = "#gameAndWatch" data-toggle = "collapse" data-parent = "#characterSelect"><li><img src = "/public/images/Portraits/gameAndWatch.png">MR. GAME & WATCH</li></a>
            <div id = "gameAndWatch" class = "collapse">Hello World</div>
            <a href = "#marth" data-toggle = "collapse" data-parent = "#characterSelect"><li><img src = "/public/images/Portraits/marth.png">MARTH</li></a>
            <div id = "marth" class = "collapse">Hello World</div>
            <a href = "#roy" data-toggle = "collapse" data-parent = "#characterSelect"><li><img src = "/public/images/Portraits/roy.png">ROY</li></a>
            <div id = "roy" class = "collapse">Hello World</div>
        </ul>
    </body>
</html>