<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width = device-width, initial-scale=1">
        <title>HOME PAGE</title>
        <link href = "/public/css/web.css" rel = "stylesheet" type = "text/css">
    </head>
    <body>
        <a href="#"><img src="https://fontmeme.com/permalink/200829/bec5e86d3cf5999b503e05716cc38266.png" alt="super-smash-bros-font" border="0"></a>
        <p>Select a character to view tournament sets!</p>
        <ul class = "characterSelect">
            <li><img src = "/public/images/Portraits/drMario.png">DR. MARIO</li>
            <li><img src = "/public/images/Portraits/mario.png">MARIO</li>
            <li><img src = "/public/images/Portraits/luigi.png">LUIGI</li>
            <li><img src = "/public/images/Portraits/bowser.png">BOWSER</li>
            <li><img src = "/public/images/Portraits/peach.png">PEACH</li>
            <li><img src = "/public/images/Portraits/yoshi.png">YOSHI</li>
            <li><img src = "/public/images/Portraits/dk.png">DONKEY KONG</li>
            <li><img src = "/public/images/Portraits/falcon.png">CAPTAIN FALCON</li>
            <li><img src = "/public/images/Portraits/ganon.png">GANONDORF</li>
            <li><img src = "/public/images/Portraits/falco.png">FALCO</li>
            <li><img src = "/public/images/Portraits/fox.png">FOX</li>
            <li><img src = "/public/images/Portraits/ness.png">NESS</li>
            <li><img src = "/public/images/Portraits/ics.png">ICE CLIMBERS</li>
            <li><img src = "/public/images/Portraits/kirby.png">KIRBY</li>
            <li><img src = "/public/images/Portraits/samus.png">SAMUS</li>
            <li><img src = "/public/images/Portraits/zelda.png">ZELDA</li>
            <li><img src = "/public/images/Portraits/zelda.png">SHEIK</li>
            <li><img src = "/public/images/Portraits/link.png">LINK</li>
            <li><img src = "/public/images/Portraits/ylink.png">YOUNG LINK</li>
            <li><img src = "/public/images/Portraits/pichu.png">PICHU</li>
            <li><img src = "/public/images/Portraits/pikachu.png">PIKACHU</li>
            <li><img src = "/public/images/Portraits/puff.png">JIGGLYPUFF</li>
            <li><img src = "/public/images/Portraits/mewtwo.png">MEWTWO</li>
            <li><img src = "/public/images/Portraits/gameAndWatch.png">MR. GAME & WATCH</li>
            <li><img src = "/public/images/Portraits/marth.png">MARTH</li>
            <li><img src = "/public/images/Portraits/roy.png">ROY</li>
        </ul>
    </body>
</html>