body {
    background-color: #121212;
}

p {
    color: white;
}

.meleerow {
    padding-left: 160px;
}

.meleelastrow {
    padding-left: 280px;
}

.characterSelect {
    color: white;
    list-style-type: none;
}

.characterSelect li > img {
    width: 100%;
    transition: width 0.4s, height 0.4s;
    background-color: black;
}

.characterSelect li > img:hover {
    width: 140px;
    height: 120px;
}