body {
   background-color: #121212;
}

p {
    color: white;
}

#meleeBackground {
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -100;
}

.meleerow {
    padding-left: 15px;
}

.meleelastrow {
    padding-left: 115px;
}

.meleerow button {
    border-width: 0px;
    padding: 0px;
}

.characterSelect {
    list-style-type: none;
}

.characterSelect{
    height: 90px;
    width: 100px;
    transition: 0.4s;
    background-color: none;
    vertical-align: top;
    position: relative;
}

.characterSelect:hover {
    transform:scale(1.5);
    z-index: 1;
}

.videoResults {
    background-color: rgb(66, 66, 66);
    height: 400px;
    max-width: 45%;
    overflow-y: auto;
    margin-top: 20px;
    border: 1px solid white;
}

.videoRow {
    border: 1px solid white;
}

.bodytext p {
    text-align: center;
}